.row {
  display: grid;
}

.column {
  display: flex;
  background-image: linear-gradient(
    225deg,
    #2b5876 0%,
    #4e4376 51%,
    #2b5876 100%
  );
  transition: all 0.2s;
  background-size: 200% auto;

  &:hover {
    background-position: right center;
  }

  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 1.75rem;
  height: 50px;
  width: 50px;
  font-family: "Unbounded", cursive, sans-serif;
}

.image {
  width: 2rem;
  aspect-ratio: 1;
}

.one {
  color: black;
}

.two {
  color: rgb(40, 133, 56);
}

.three {
  color: rgb(135, 106, 26);
}

.four {
  color: rgb(219, 119, 4);
}

.five {
  color: rgb(182, 5, 5);
}

.clicked {
  background-image: linear-gradient(
    to right,
    white 0%,
    white 100%
  );
}

.info-panel {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 2rem;
  background-color: rgba(0, 0, 0, 0.85);
  border-radius: 1rem;

  .title {
    font-size: 2rem;
    padding-bottom: 1rem;
  }

  .button {
    font-family: "Unbounded", cursive, sans-serif;
    width: 100%;
    height: 3rem;
    font-size: 1.5rem;
  }
}
