<div *ngFor="let row of matrix; let i = index" class="row">
  <button
    *ngFor="let item of row; let j = index"
    class="column"
    [ngClass]="{
      clicked: clicked[i][j]
    }"
    (click)="clickPos(i, j)"
  >
    <div *ngIf="clicked[i][j]">
      <img
        *ngIf="item === -1; else number"
        src="assets/mine.png"
        class="image"
        alt="mine image"
      />
      <ng-template #number>
        <span *ngIf="item !== 0">{{ item }}</span>
      </ng-template>
    </div>
  </button>
</div>

<div *ngIf="status === GameStatus.GameOver" class="game-over">
  <div class="title">GAME OVER</div>
  <button (click)="restart()" class="button">Restart</button>
</div>
