<div *ngFor="let row of matrix; let i = index" class="row">
  <button
    *ngFor="let item of row; let j = index"
    class="column"
    [ngClass]="{
      clicked: clicked[i][j]
    }"
    (click)="clickPos(i, j)"
    (contextmenu)="toggleFlag(i, j, $event)"
  >
    <div *ngIf="clicked[i][j]; else notClicked">
      <img
        *ngIf="item === -1; else number"
        src="assets/mine.png"
        class="image"
        alt="mine image"
      />
      <ng-template #number>
        <span *ngIf="item !== 0" [ngClass]="{
          one: item === 1,
          two: item === 2,
          three: item === 3,
          four: item === 4,
          five: item === 5
        }">{{ item }}</span>
      </ng-template>
    </div>
    <ng-template #notClicked>
      <img
        *ngIf="flag[i][j]"
        src="assets/flag.png"
        class="image"
        alt="flag image"
      />
    </ng-template>
  </button>
</div>

<div *ngIf="status === GameStatus.GameOver" class="info-panel">
  <div class="title">GAME OVER</div>
  <button (click)="restart()" class="button">Restart</button>
</div>

<div *ngIf="status === GameStatus.Win" class="info-panel">
  <div class="title">You won!</div>
  <button (click)="restart()" class="button">Restart</button>
</div>
