/* You can add global styles to this file, and also import other style files */

html,
body {
  margin: 0;
  color: white;
  font-family: "Unbounded", cursive, sans-serif;

  background-image: radial-gradient(
    circle farthest-corner at 12.3% 19.3%,
    rgb(28, 38, 41) 0%,
    rgb(24, 24, 24) 100%
  );
}
